#ai-writer .inside > div:nth-child(1) label, #ai-writer .inside > div:nth-child(2) label, #ai-writer .inside > div:nth-child(3) label, #ai-writer .inside > div:nth-child(4) label {
    position: absolute;
    font-size: 80%;
    top: -0.5em;
    z-index: 3;
    line-height: 1;
    padding: 0 1px;
    background: #fff;
    margin-left: 10px;
}

#ai-writer .inside > div:nth-child(1), #ai-writer .inside > div:nth-child(2), #ai-writer .inside > div:nth-child(3){
    width: 24%;
    display: inline-block;
    margin-right: 8px;
}

#ai-writer .inside > div:nth-child(4) {
    width: 24%;
    display: inline-block;
}

#ai-writer .inside  {
    margin-top: 1em;
}

.wmb-input label {
    display: flex; 
    align-items: center; 
}

.wmb-input label code {
    margin-left: auto;
}

.wmb-input input[type="text"], .wmb-input select, .wmb-input textarea {
    width: 100%;
}

.wmb-input {
    width: 100%;
    margin-bottom: 1em;
}

.wmb-input > div {
    width: 100%;
}

.metabox-location-advanced .wmb-input {
    display: flex;
    width: 100%;
    max-width: 760px;
}

.metabox-location-side  .wmb-input {
    display: block;
}

.metabox-location-advanced .wmb-input label {
    min-width: 200px;
}

.wmb-input-description {
    font-style: italic;
    margin: 0 0 0.5em 0;
}

.wmb-code-editor {
    border: 1px solid #ddd;
}

.wmb-repeater-container {
    position: relative;
    overflow: auto;
}

.wmb-repeater-option-group-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding: 5px 3px;
}

.wmb-repeater-option-group-header label {
    display: none;
}

.wmb-repeater-option-group-header input {
    border: none;
    cursor: pointer;
}

.wmb-repeater-option-group-header .wmb-input {
    margin-bottom: 0;
}

.wmb-delete, .wmb-drag {
    border: none;
    background: none;
    -webkit-appearance: none;
}

.wmb-delete {
    cursor: pointer;
}

.wmb-drag {
    cursor: grab;
}

.wmb-repeater-option-group {
    border: 1px solid #eee;
    display: block;
    background-color: #fff;
    margin-bottom: 10px;
}

.wmb-repeater-option-group-content {
    padding: 10px;
}